.nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1;
  justify-content: center;
}

.NavBar {
  align-items: center;
  background-color: rgba(128, 128, 128,0.2);
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 65px;
  justify-content: space-evenly;
  width: 23%;
}

.icons {
  transition: ease-in-out 0.3s;
  background-color: grey;
  border-radius: 50%;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.icons:hover {
  transform:  scale(1.3);
}